body {
    background-color: powderblue;
    }
hr {
    background-color: powderblue;
    border-style: dotted none none;
    border-color: gray;
    height: 0px;
    width: 5%;
    border-width: 5px;
    }
h1 {
    color: #0D4C92;
}
h3 {
    color: #0D4C92;